.rdw-root {
}
.rdw-wrapper {
}
.rdw-editor {
  border: 1px solid #9b9393;
  padding: 5px;
  border-radius: 2px;
  height: 300px;
}
.rdw-toolbar {
  top: -130px;
  border: 1px solid #9b9393;
}
.rdw-textarea {
  margin-top: 20px;
  resize: none;
  width: 100%;
  border: 1px solid #8a2525;
  height: 300px;
}
.makeStyles-streamcard-75:hover {
  border: 1px solid black;
}
.rdw-option-wrapper {
  min-width: 0px;
}
.rdw-editor-toolbar {
  font-size: 13px;
}
